/RecuperadorDB/nbproject/private/
/RecuperadorDB/build/
/TesteProdest/nbproject/private/
/TesteProdest/build/
/TesteProdest/dist/
/Utilidades/nbproject/private/
/SolucaoCompleta/nbproject/private/
/SolucaoCompleta/build/
/SolucaoCompleta/mysql.conf
/SolucaoCompleta/dist/