
body {
    padding-left: 15px;
}
.page-header {
    background-color: #16a084;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 10px;
    margin-top: 10px !important;
    text-align: center !important;
    font-size: 20px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.post a, .post a:visited {
    color: #ffffff;
}