html
    head
        title Base de Concursos
        link(rel="stylesheet", href="../public/stylesheets/style.css")
    body
        h1 ESPM
        p O sistema proposto tem como objetivo:
        ul
            li Realizar busca de concursos públicos para uma determinada pessoa baseada nas profissões atreladas ao seu CPF;
            li Realizar busca das pessoas que se encaixam em determinado concurso baseado no número do Código do concurso.
        p Clique no botão a seguir para ser redirecionado ao sistema de buscas.
        a(href="./search") Acessar