body{
    background-color:"#FFC0CB";
}

div.container {
    height: 10%;
    width: 70%;
    background-image: url('claro.jpg');
    background-size:100%;
    background-position: center;   
    margin-top:10%;
    margin-left:15%;

}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;

}

nav {
    float: left;
    max-width: 600px;
    margin: 0;
    padding: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

