<footer class="text-muted">
  <div class="container">
    <p>Busca vaga &copy; <%= DateTime.now.year %> | Dérick Hogan Pimenta</p>
    <p><a href="#" data-toggle="modal" data-target="#aboutModal">Sobre</a></p>
  </div>
</footer>
